.checkout-container-placeorder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.address-details,
.product-details {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.placeorder-checkout{
        background-color: #FF9494;
        border: 1px solid transparent;
        border-radius: .75rem;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        flex: 0 0 auto;
        font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: .75rem 1.2rem;
        text-align: center;
        text-decoration: none #6B7280 solid;
        text-decoration-thickness: auto;
        transition-duration: .2s;
        transition-property: background-color, border-color, color, fill, stroke;
        transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
}

.form-group-checkout {
    margin-bottom: 20px;
}

.form-group-checkout label {
    display: block;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: bolder;
}

.form-group-checkout input,
.form-group-checkout textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group-checkout input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product-item-checkout {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-item-checkout img {
    width: 130px !important;

    margin-right: 20px;
}

.product-info-checkout h3 {
    margin-bottom: 5px;
}

.product-info-checkout p {
    color: #007bff;
    font-weight: bold;
}