     @charset "UTF-8";
     @import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
     @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
     
     .main-title {
         margin-bottom: 0.5rem;
         text-align: center;
         font-family: "Abril Fatface", cursive;
         font-size: 0.32rem;
         color: #2e8074;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .main-title:before,
     .main-title:after {
         content: "";
         display: block;
         margin: 0 0.2rem;
         flex: 1;
         border-bottom: 1px solid #2e8074;
     }

     .wrapper {
            box-sizing: border-box;
            min-height: 100vh;
            padding: 1.1rem 1.3rem;
            background-color: #bdd6d3;
            width: 80%;
            margin: auto;
            font-family: "Source Sans Pro", sans-serif;
     }

     @media (max-width: 768px) {
         .wrapper {
             width: auto;
             padding: 0 0.3rem;
         }
     }

     input[type=radio] {
         display: none;
     }

     input[type=radio]:checked+.item .title {
         color: #fff;
         border-color: #2e8074;
         background-color: #2e8074;
     }

     input[type=radio]:checked+.item .title:after {
         transform: rotate(180deg);
     }

     input[type=radio]:checked+.item .content {
    margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        height: auto;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s, opacity 0.7s;
     }

     .item {
         display: block;
         margin-bottom: 0.1rem;
     }

     .title {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            font-size: 20px;
            padding: 1.1rem 1.3rem;
            border-radius: 5.3rem;
            color: #2e8074;
            border: 1px solid;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.5s;
            display: flex;
            justify-content: space-between;
            align-items: center;
     }

     .title:after {
         content: "▼";
         display: inline-block;
         font-size: 12px;
     }

     .content {
        font-size: 18px;
        width: 95%;
        margin: 0 auto;
        padding: 0 0.3rem;
        line-height: 1.6;
        color: #2e8074;
        border: 1px solid;
        border-width: 0 1px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
     }