.product-catalog {
    padding-top: 50px;
}

.filter-section {
    padding: 15px;
    background-color: #FF9494;
    border-radius: 5px;
}

.product-item {
    margin-bottom: 30px;
}

.product-card {
    border: 1px solid #FF9494;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}
.product-card:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100% !important;
    height: auto !important;
    margin-top: 0px !important;
}

.product-details-product {
    padding: 15px;
}

.product-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
img,
svg {
    width: 100% !important;
}
h1,h2{
    text-align: center;
}
.product-button-readmore{
        background-color: #FF9494;
        border: 1px solid transparent;
        border-radius: .75rem;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        flex: 0 0 auto;
        font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: .75rem 1.2rem;
        text-align: center;
        text-decoration: none #6B7280 solid;
        text-decoration-thickness: auto;
        transition-duration: .2s;
        transition-property: background-color, border-color, color, fill, stroke;
        transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
}