@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sofia&display=swap');
body {
  margin: 0;
  font-family: "Oswald", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FFF5E4;
  background-repeat: no-repeat;
    background-size: cover;
  background-position: center;

}

code {
  font-family: "Oswald", sans-serif !important;
  color: #FFF5E4;
}
